<h3>{{displayQuery}}</h3>
<input name="query" placeholder="Enter search" [(ngModel)]="searchQuery" />
<button (click)="gitSearch()">Submit</button>
<div *ngIf="searchResults && !error; else elseBlock">
    <h3 class="total"> Total-Results : {{searchResults.total_count}}</h3>
    <ul class="list">
        <li [ngClass]="['list_item',(i % 2 === 0) ? 'silver' : 'red']"
            *ngFor="let result of searchResults.items; index as i">
            <img class="avatar" [src]="result.avatar_url"/>
            <h3 class="title"> {{result.login}}
                <small>{{result.login | uppercase}} </small>
            </h3>
            <a [href]="result.html_url">
                <strong>{{result.html_url}}</strong>
            </a>
        </li>
    </ul>
</div>
<ng-template #elseBlock>
    <h3>
        hay un error en la consulta vuelva a intentarlo :)
    </h3>
</ng-template>

<a routerLink="" routerLinkActive="active">
        <button>Pagina Anterior </button>
   </a>  